{{- if .Values.registry.ingress.enabled }}
################################################################################
# Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH and others
# Copyright (c) 2021 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "dtr.fullname" . }}
  annotations:
{{ .Values.registry.ingress.annotations | toYaml | indent 4 }}
  labels:
    {{- include "dtr.labels" . | nindent 4 }}
spec:
  ingressClassName: {{ .Values.registry.ingress.className }}
  {{- if .Values.registry.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.registry.host }}
      secretName: {{ .Values.registry.ingress.tls.secretName | default "registry-certificate-secret" }}
  {{- else }}
    []  # Ensures tls is an empty list when not enabled
  {{- end }}
  {{- if .Values.registry.ingress.urlPrefix }}
  rules:
    - host: {{ .Values.registry.host }}
      http:
        paths:
          - path: {{printf "%s(/|$)(.*)" .Values.registry.ingress.urlPrefix }}
            pathType: Prefix
            backend:
              service:
                name: {{ include "dtr.fullname" . }}
                port:
                  number: {{ $.Values.registry.service.port }}
    {{- else }}
  rules:
    {{- range .Values.registry.ingress.rules }}
    - host: {{ .host | default $.Values.registry.registry.host }}
      http:
        paths:
          {{- range .http.paths }}
          - path: {{ .path }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "dtr.fullname" . }}
                port:
                  number: {{ $.Values.registry.service.port }}
          {{- end }}
    {{- end}}
  {{- end}}
{{- end}}
