################################################################################
# Copyright (c) 2021 Robert Bosch Manufacturing Solutions GmbH and others
# Copyright (c) 2021 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

name: gitleaks
on: [push, pull_request, workflow_dispatch]
jobs:
  gitleaks-run:
    runs-on: ubuntu-latest
    container:
      image: zricethezav/gitleaks:latest
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - name: Run Gitleaks
        id: gitleaks
        
        run: |
          git config --global --add safe.directory $PWD
          gitleaks detect -f sarif -r ./gitleaks-report-registry.sarif --exit-code 0

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: gitleaks-report
          path: ./gitleaks-report-registry.sarif
        

  gitleaks-upload:
    runs-on: ubuntu-latest
    needs: gitleaks-run
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: gitleaks-report
      - name: Upload SARIF report
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ./gitleaks-report-registry.sarif
